* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.App {
  width: 100%;
  height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Scrollbar Container */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollbar Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b1a8ff;
  border-radius: 8px;
}

/* Scrollbar Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5850EC;
}
